<%# <head>
  <link rel="stylesheet" type="scss" href="footer.scss">
</head> %>
<body class="container">
  <section class="space"></section>
  <footer class="footer">
    <section class="footer-top">
        </div>
      </section>
      <section class="links-section">
        <div id="company-links" class="links-list">
          <h5 class="links-header">Company</h5>
          <a class="link-item" href="#">About</a>
        </div>
        <div id="discover-links" class="links-list">
          <h5 class="links-header">Discover</h5>
          <a class="link-item" href="#">Wedding Wheels Picks</a>
        </div>
      </section>
    </section>
    <section class="footer-bottom">
      <div class="footer-bar"></div>
      <h4 class="join">Join Us On</h6>
      <section class="socialIcons-section">
        <div class="circle"><a href="#" class="icon"><i class="fa fa-facebook" aria-hidden="true"></i></a></div>
        <div class="circle"><a href="#" class="icon"><i class="fa fa-twitter" aria-hidden="true"></i></a></div>
        <div class="circle"><a href="#" class="icon"><i class="fa fa-instagram" aria-hidden="true"></i></a></div>
      </section>
      <p class="copywright">&#xa9 Wedding Wheels 2022</p>
    </section>
  </footer>
