<%# <head>
  <link rel="stylesheet" type="scss" href="footer.scss">
</head> %>

  <footer class="footer mt-5">
    <section class="footer-top pt-4">
      <section class="links-section">
        <div id="company-links" class="links-list">
          <h5><strong>Email:</strong></h5>
          <h6>support@weddingwheels.com</h6>
        </div>
      </section>
    </section>
    <section class="footer-bottom">
      <div class="footer-bar"></div>
      <h4 class="join mt-2" style="color: black;">Made with ❤️ by</h6>
      <section class="socialIcons-section">
        <div style="display: flex; flex-direction: column; align-items: center; justify-items: center;">
          <div class="circle"><a href="https://www.github.com/baltrock" target="_blank" class="icon"><i class="fa-brands fa-github" aria-hidden="true"></i></a></div>
            <p style="color: black;">Ben Murphy</p>
        </div>
        <div style="display: flex; flex-direction: column; align-items: center; justify-items: center;">
          <div class="circle"><a href="https://www.github.com/IliyaOblakov" target="_blank" class="icon"><i class="fa-brands fa-github" aria-hidden="true"></i></a></div>
            <p style="color: black;">Iliya Oblakov </p>
          </div>
        </div>
        <div style="display: flex; flex-direction: column; align-items: center; justify-items: center;">
          <div class="circle"><a href="https://www.github.com/kunalcancode" target="_blank" class="icon"><i class="fa-brands fa-github" aria-hidden="true"></i></a></div>
            <p style="color: black;">Kunal Kumar </p>
          </div>
        </div>
      </section>
      <p class="copywright">&#xa9 Wedding Wheels 2022</p>
    </section>
  </footer>
