.button {
  background-color: #E8C7C8;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 25px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  border-width: 0;
  margin-left: 5px;
  margin-right: 5px;
  color: black;
}

.button:hover {
  background-color: #98B0D5 ;
  border-color: #E8C7C8;
}

.form-actions {
  display: flex;
}
