.navbar-lewagon {
  display: block !important;
  justify-content: space-around;
  background: rgb(209, 242, 209);
}


.navbar-brand-lewagon {
    text-decoration: none;
    margin: 0 auto;
    font-family: $accent-font;
    font-size: 90px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 80px;
}

h1 {
  color: rgb(6, 3, 4);
  font-size: 80px;
  font-family: 'Satisfy', "cursive";
}
