.navbar-lewagon {
  justify-content: space-around;
  background: rgb(209, 242, 209);
}

.left-space {
  flex-grow: 1;
}

.navbar-brand {
    font-family: $accent-font;
    font-size: 90px;
    flex-grow: 1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 80px;
}

h1 {
  color: rgb(6, 3, 4);
  font-size: 80px;
  font-family: 'Satisfy', "cursive";
}
